@{
    ViewBag.Title = "Reset Password Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<hgroup class="title">
<h1>@ViewBag.Title。 </h1>
</hgroup>
<div>
    <p>
        Your Password has been Reset!!
        Click @Html.ActionLink("here", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" }) to log in.
    </p>
</div>

